<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>All Projects</title>
<link rel="stylesheet" href="pages/index.css">

</head>

<body class="allprojbody">

 <%#  <h1 class="allprojectsh1">Current Projects:</h1> %>

  <div class="allprojcontainer">
    <div class="allprojcard">
      <div class="textbubble">
        <h1>The Regal</h1>
        <p class="allprojdescription">
          In crafting the mockup for a fine dining establishment in London, <br>
          the focus was on catering to a high-end and trendy clientele seeking the pinnacle of culinary experiences.<br>
          For the website design, I was aiming for sophistication and elegance,<br>
          with a sleek layout that captivates visitors from the moment they land on the homepage. <br>
          Central to the design is the photography, with a mixture of dark portraits, and bright and simple shots of the dishes,  <br>
          showcasing the restaurant's exquisite dishes, ambiance, and attention to detail. </p>
      </div>

      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "Regal1b.png", alt: "Description of the image" %>
          <%= image_tag "Regal2b.png", alt: "Description of the image" %>
        </div>



        <p class="allprojdescription">The imagery seamlessly integrates with the carefully chosen branding and typeface, <br>
        creating a cohesive visual identity that speaks to the restaurant's luxury and refinement. <br>
        Every element of the website, from the navigation to the reservation system, <br>
        is crafted with the user experience in mind, ensuring seamless interaction for discerning patrons seeking the best in fine dining.</p>


          <div class="gallerycontainer">
            <div class="image-gallery">
              <%= image_tag "Regal3b.png", alt: "Description of the image" %>
              <%= image_tag "Regal4b.png", alt: "Description of the image" %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <h1>Co-Write<h1>

     <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write1b.png", alt: "Description of the image" %>
          <%= image_tag "co-write2b.png", alt: "Description of the image" %>
        </div>
      <p class="allprojdescription">Co-Write is a collaborative writing platform that allows users to create, edit, and share documents in real-time. <br>
      The platform is designed to be user-friendly and intuitive, with a clean and modern interface that encourages creativity and collaboration. <br>
      <br>This was our final project for the Le Wagon coding bootcamp, and we built it using Ruby on Rails, JavaScript, and PostgreSQL. <br>
      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write4b.png", alt: "Description of the image" %>
          <%= image_tag "co-write5b.png", alt: "Description of the image" %>
        </div>
     



  <h1>Red Carpet Rentals<h1>
    <div class="redcarpetbanner">
      <%= image_tag "banner_image.png", alt: "Description of the image" %>
    </div>
    <div class="redcarpetgallery">
    <div class="carousel">
      <div class="carousel-images">
        <img src="/assets/redcarpet/Obama.png" alt="Image 1">
        <img src="/assets/redcarpet/PinkVader-02.png" alt="Image 2">
        <img src="/assets/redcarpet/Beckham.png" alt="Image 3">

    </div>
  <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
  <button class="next" onclick="moveSlide(1)">&#10095;</button>
</div>


    </div>



</body>
