<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>All Projects</title>
<link rel="stylesheet" href="pages/index.css">
<%# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>


</style>

<%#     <script src="https://www.w3schools.com/lib/w3.js"></script> %>

</head>
<%#     <div class="header">
      <a href="#default" class="logo">Jonny Dunseath</a>
      <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
    </div>
 %>
</head>

<body>

 <%#  <h1 class="allprojectsh1">Current Projects:</h1> %>

  <div class="allprojcontainer">
    <div class="allprojcard">
      <div class="textbubble">

        <div class="Title_Block">The Regal</div>

        <p class="allprojdescription">
          The Regal is a fully functioning restaurant website mock-up.
          I wanted to try a different style of website to that of which I'm often drawn to,
           one with a different clientele and feel.</p>
      </div>

      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "Regal1b.png", alt: "Description of the image" %>
          <%= image_tag "Regal2b.png", alt: "Description of the image" %>
        </div>

        <p class="allprojdescription">The imagery seamlessly integrates with the carefully chosen branding and typeface, <br>
        creating a cohesive visual identity that speaks to the restaurant's luxury and refinement. <br>
        Every element of the website, from the navigation to the reservation system, <br>
        is crafted with the user experience in mind, ensuring seamless interaction for discerning patrons seeking the best in fine dining.</p>


          <div class="gallerycontainer">
            <div class="image-gallery">
              <%= image_tag "Regal3b.png", alt: "Description of the image" %>
              <%= image_tag "Regal4b.png", alt: "Description of the image" %>
            </div>
          </div>
      </div>
    </div>

    <div class="Title_Block3">Co-Write</div>

     <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write1b.png", alt: "Description of the image" %>
          <%= image_tag "co-write2b.png", alt: "Description of the image" %>
        </div>
      <p class="allprojdescription">Co-Write is a collaborative writing platform that allows users to create, edit, and share documents in real-time. <br>
      The platform is designed to be user-friendly and intuitive, with a clean and modern interface that encourages creativity and collaboration. <br>
      <br>This was our final project for the Le Wagon coding bootcamp, and we built it using Ruby on Rails, JavaScript, and PostgreSQL. <br>
      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write4b.png", alt: "Description of the image" %>
          <%= image_tag "co-write5b.png", alt: "Description of the image" %>
        </div>




  </div>


    <%#  <div><%= link_to "Beatwrecka's SoundCloud", "https://www.soundcloud.com/beatwrecka", class: "Soundcloud_Button" %><%# </div> %>


 <%#      <div class="Soundcloud_Profile">
        <div class="Soundcloud_Pic"><%= image_tag "Soundcloud_Profile.png", alt: "Soundcloud profile page" %><%# </div> %>
    <%# </div>
  %>

</body>

<%# <div class="Title_Block2">Get In Touch!</div>
  <div class="Contact_text">
    <p>Wanna chat? Hit me up on one of these platforms and let's talk. </p>
  </div> %>
</div>
