<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>All Projects</title>
<link rel="stylesheet" href="pages/index.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>


</style>

<script src="https://www.w3schools.com/lib/w3.js"></script>

</head>
<div class="header">
  <a href="#default" class="logo">Jonny Dunseath</a>
  <div class="header-right">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>

</head>

<body class="allprojbody">

 <%#  <h1 class="allprojectsh1">Current Projects:</h1> %>

  <div class="allprojcontainer">
    <div class="allprojcard">
      <div class="textbubble">
        <h3>The Regal</h3>
        <p class="allprojdescription">
          <%# In crafting the mockup for a fine dining establishment in London, <br>
          the focus was on catering to a high-end and trendy clientele seeking the pinnacle of culinary experiences.<br>
          For the website design, I was aiming for sophistication and elegance,<br>
          with a sleek layout that captivates visitors from the moment they land on the homepage. <br>
          Central to the design is the photography, with a mixture of dark portraits, and bright and simple shots of the dishes,  <br>
          showcasing the restaurant's exquisite dishes, ambiance, and attention to detail. </p>
      </div> %>

      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "Regal1b.png", alt: "Description of the image" %>
          <%= image_tag "Regal2b.png", alt: "Description of the image" %>
        </div>



        <p class="allprojdescription">The imagery seamlessly integrates with the carefully chosen branding and typeface, <br>
        creating a cohesive visual identity that speaks to the restaurant's luxury and refinement. <br>
        Every element of the website, from the navigation to the reservation system, <br>
        is crafted with the user experience in mind, ensuring seamless interaction for discerning patrons seeking the best in fine dining.</p>


          <div class="gallerycontainer">
            <div class="image-gallery">
              <%= image_tag "Regal3b.png", alt: "Description of the image" %>
              <%= image_tag "Regal4b.png", alt: "Description of the image" %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <h1>Co-Write<h1>

     <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write1b.png", alt: "Description of the image" %>
          <%= image_tag "co-write2b.png", alt: "Description of the image" %>
        </div>
      <p class="allprojdescription">Co-Write is a collaborative writing platform that allows users to create, edit, and share documents in real-time. <br>
      The platform is designed to be user-friendly and intuitive, with a clean and modern interface that encourages creativity and collaboration. <br>
      <br>This was our final project for the Le Wagon coding bootcamp, and we built it using Ruby on Rails, JavaScript, and PostgreSQL. <br>
      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "co-write4b.png", alt: "Description of the image" %>
          <%= image_tag "co-write5b.png", alt: "Description of the image" %>
        </div>




  <h3>Red Carpet Rentals<h3>
    <div class="redcarpetbanner">
      <%= image_tag "banner_image.png", alt: "Description of the image" %>
    </div>
    <div class="redcontainer">
      <div class="redbubble">
        <p class="redtext"> Our penultimate project at Le Wagon was to build a two-sided marketplace, and we chose to create a platform for renting costumes...with a twist! <br>
          This was our very 'tongue in cheek' approach to the project, and we had a lot of fun with it. <br>
          Using A.I. to generate the images, we created a store with 'celebrity' models for each costume. <br>
          I've learned a lot about A.I. prompting and using Mid-Journey to get the results we wanted, and it's without doubt an amazing tool that can be used in a designers/developers arsenal for image generation. <br>
        </div>
          <div class="redbubble">
            <%= image_tag "redcarpet/Obama.png", alt: "Description of the image" %>
          </div>

          <div class="redbubble">
            <%= image_tag "redcarpet/Beckham.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%= image_tag "redcarpet/WillyWonka.png", alt: "Description of the image" %>
          </div>

          <div class="redbubble">
            <%= image_tag "redcarpet/PinkVader-02.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%= image_tag "redcarpet/Dino.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%= image_tag "redcarpet/BorisClown.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%= image_tag "redcarpet/BradPotter.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%= image_tag "redcarpet/ElonRambo.png", alt: "Description of the image" %>
          </div>

           <div class="redbubble">
            <%# <%= image_tag "redcarpet/MonicaDoc.png", alt: "Description of the image" %>
          </div>





    </div>


  <div class="loopysection">
    <div class="loopylogo">
      <%= image_tag "loopy.png", alt: "loopy logo text" %>
    </div>

    <div class="loopytext">
      <div class="loopybubble">
        <p class="loopydescription">
          <br>
          <br>
          <br>
          <br>
          <br>
        Loopy is my first project in the Audio software development realm. <br>
        It's a web based app that will allow users of any experience level
        to create a 'mash-up' <br>of up to four different tracks,<br>
        so you can finally try that blend of Michael Jackson's vocals,
        Snoop Dogg's Bassline, <br> Axel Rose's Guitar riffs and Charlie Watts' (Rest in peace ) Drums!<br>
        <br>The interface is designed to be user-friendly <br> and intuitive,
        and all of the loops will be sync'd to the same tempo, and key, which you are free to choose.<br></P>
      </div>
      <div class="loopycontainer">
        <div class="image-gallery2">
          <%= image_tag "loopyv1.png", alt: "Web based loop player" %>

        </div>
    </div>
  </div>

        <div class="audio_container">



          </div>


    <div class="audio_grid">
        <div class="grid-item1"><%= image_tag "loopyv1.png", alt: "Web based loop player" %></div>
        <div class="grid-item2"><p>Loopy might look basic, <br> but he's got power <br> under that basic exterior!</div>
        <div class="grid-item3">3</div>
        <div class="grid-item4">4</div>
        <div class="grid-item5">5</div>
        <div class="grid-item6">6</div>
        <div class="grid-item7">7</div>
        <div class="grid-item8">8</div>

      </div>







</body>
